---
title: Sidescroll Middleman
---

<%= partial "partials/pages/kajabi_does/modules/header" %>
<section class="slider">
  <div class="slider__fixed">
    <div class="indicator indicator--start">Start</div>
    <div class="indicator indicator--move">Move</div>
    <div class="indicator indicator--end">End</div>
    <%= partial "partials/pages/kajabi_does/modules/splash_video" %>
    <div class="slider__overlay"></div>
    <%= partial "partials/pages/kajabi_does/modules/center_guide" %>
    <div class="slider__content">
      <%= partial "partials/pages/kajabi_does/modules/hero" %>
      <%= partial "partials/pages/kajabi_does/modules/online_courses" %>
      <%= partial "partials/pages/kajabi_does/modules/membership_sites" %>
      <%= partial "partials/pages/kajabi_does/modules/email_marketing" %>
      <%= partial "partials/pages/kajabi_does/modules/websites" %>
      <%= partial "partials/pages/kajabi_does/modules/landing_pages" %>
      <%= partial "partials/pages/kajabi_does/modules/community" %>
      <%= partial "partials/pages/kajabi_does/modules/automations" %>
      <%= partial "partials/pages/kajabi_does/modules/marketing_funnels" %>
      <%= partial "partials/pages/kajabi_does/modules/it_all" %>
    </div>
  </div>
</section>
<%= partial "partials/pages/kajabi_does/modules/progress" %>
